[submodule "engine/Jay_Core"]
	path = engine/Jay_Core
	url = https://github.com/WeirdBirds/Jay_Core.git
[submodule "engine/Jay_ECS"]
	path = engine/Jay_ECS
	url = https://github.com/WeirdBirds/Jay_ECS.git
[submodule "engine/Jay_Math"]
	path = engine/Jay_Math
	url = https://github.com/WeirdBirds/Jay_Math.git
[submodule "engine/Jay_Logger"]
	path = engine/Jay_Logger
	url = https://github.com/WeirdBirds/Jay_Logger.git
[submodule "engine/Jay_Render"]
	path = engine/Jay_Render
	url = https://github.com/WeirdBirds/Jay_Render.git
[submodule "engine/jai-sdl3"]
	path = engine/jai-sdl3
	url = https://github.com/NickTsaizer/jai-sdl3.git
[submodule "engine/Jay_Utils"]
	path = engine/Jay_Utils
	url = https://github.com/WeirdBirds/Jay_Utils.git
[submodule "modules/tracy"]
	path = modules/tracy
	url = https://github.com/WeirdBirds/tracy.git
[submodule "engine/Jay_Package"]
	path = engine/Jay_Package
	url = https://github.com/WeirdBirds/Jay_Package.git
[submodule "engine/sgpu"]
	path = engine/sgpu
	url = https://github.com/WeirdBirds/sgpu.git
